.App {
  padding: 30px;
  display: flex;
  background-color: #282c34;
  height: 100vh;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}

.Center{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 100px;
  height: fit-content;
}

.Scoreboard{
  border: 3px solid #61dafb;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3%;
  height: 300px;
  width: 450px;
  gap: 20px;
}

.Scoreboard-screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  border: 3px solid #61dafb;
  border-radius: 10px;
  padding: 15px;
}

.Scoreboard-screen__item{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Scoreboard-screen__item-text{
  color: #61dafb;
  font-weight: 700;
  font-size: 30px;
}

.Scoreboard-screen__item-input{
  font-weight: 700;
  padding: 10px 0;
  height: fit-content;
  text-align: center;
  border: 5px solid #61dafb;
  border-radius: 10px;
  font-size: 14px;
}

.Scoreboard-screen__item-input--error{
  border: 5px solid #DC143C		;
  background-color: #F08080;
}

.Scoreboard-screen__item-input:focus{
  outline: 0;
  outline-offset: 0;
  box-shadow: 0 0 0 0;
}

.Scoreboard-buttons{
  padding: 25px 50px;
  border: 3px solid #61dafb;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  gap: 100px;
}

.Button{
  padding: 0px 20px;
  background-color: #61dafb;
  color: #282c34;
  font-size: 48px;
  border-radius: 15px;
  font-weight: 700;
  border: 0;
}

.Button:disabled{
  opacity: 0.5;
}

.Scoreboard-screen{
  text-align: center;
  font-size: 50px;
  height: 100%;
  font-weight: 700;
  color: #61dafb;
}

.Scoreboard-screen-value--max{
  color: #DC143C;
}
